footer {
  background: #f7f7f7;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  color: #848484;
  padding: 5px 0;
}
footer svg {
  margin-right: 5px;
}
.social-icons li {
  display: inline-block;
  background: #456e66;
  color: #f7f7f7;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
  text-align: center;
}
.social-icons svg {
  font-size: 20px;
  margin: 15% auto;
}
